.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  background-color: var(--background-color);
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3);
  height: 23.75rem;
  width: 18.75rem;
}

.cards.small > ul > li {
  background-color: var(--background-color);
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(60,64,67,.3);
  height: 10rem;
  width: 18.75rem;
}

.cards.small > ul > li div:last-child {
  position: absolute;
  font-size: .75rem;
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards a.button:any-link, button {
all: unset;
}