footer {
  padding: 2rem;
  background-color: #3A464F;
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
  color: #FFF;
}
